---
const { href, label, currentPath, className = "" } = Astro.props;
const normalize = (path :String) => path !== "/" ? path.replace(/\/+$/, "") : path;
const isActive = normalize(currentPath) === normalize(href);
---

<a
  href={href}
  class={`rounded-md px-3 py-2 text-sm font-medium ${isActive ? "bg-gray-300" : "bg-gray-100 hover:bg-gray-200 "} ${className}`}
  aria-current={isActive ? "page" : undefined}
>
  {label}
</a>
