---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { generateLangStaticPaths } from '../../utils/locale';

export function getStaticPaths() {
  return generateLangStaticPaths();
}

---
<BaseLayout>
  <p class="flex h-100 items-center justify-center text-4xl font-bold">
    Changlog
  </p>
</BaseLayout>