---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { generateLangStaticPaths } from '../../utils/locale';

export function getStaticPaths() {
  return generateLangStaticPaths();
}

const { lang } = Astro.params;
const t = await import(`../../i18n/${lang}.json`);
---

<BaseLayout>
  <p class="flex h-100 items-center justify-center text-4xl font-bold">
    {t.home.welcome}
  </p>
</BaseLayout>