---
interface Props {
  href: string;
  label: string;
  className?: string;
}

const { href, label, className = "" } = Astro.props;
---

<a class={`hover-zoom-md ${className}`} href={href}>{label}</a>
