---
interface Props {
    href: string;
    icon: any;
    size?: number;
    ariaLabel?: string;
}

const { href, icon: Icon, size = 30, ariaLabel } = Astro.props;
---

<a href={href} target="_blank" rel="noopener noreferrer" class="hover-zoom-md" aria-label={ariaLabel}>
    <Icon height={size} />
</a>
